/* Main */
body {
    font-family: Helvetica, Arial,
        sans-serif;
}

/* App */
.App {
  display: flex;
  flex-direction: column;
}

.App > div {
  margin-bottom: 16px;
}

/* Config Panel */
.ButtonConfig {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.ClientIdContainer {
  display: flex;
  margin: 12px 0;
}

.ClientIdContainer label{
  white-space: nowrap;
  margin-right: 14px;
}

.ClientIdContainer input {
  width: 100%;
}

.CheckboxContainer {
  display: flex;
}

.CheckboxContainer > div {
  margin-right: 12px;
}

.CheckboxContainer > div input {
  margin-right: 8px;
}

/* Button Preview */
.ButtonPreview {
  max-width: 350px;
}
